#canvas {
    border: 2px solid black;
    background-color: white;
    /* margin-top: 1%; */
    cursor :url("img/triangle.png"), auto;
}
#RGBselector {
    width: 90%;
    border: 2px solid black;
    background-color: white;
    margin-top: 2%;
}
body {
    background-image: url('img/background.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: 99% auto;
}

nav {
    float: right;
    width: 30%;
    height: 50%;
    padding: 2px;
    border-color: #4AD3DA;
    border-width: 2px;
    background-color: #8FE7EC;
    margin: 1%;

}
table {
    width: 100%;
    table-layout: fixed ;
}
.row{
    width: 100%;
    text-align: center;
    line-height: 3em;    
}
.rgb {
    line-height: 30%;
    text-align: left;
    width: 30%;
}

.btn {
    width: 60%;
    height: 3.5em;
    color: white;
    font-size: 22px;
    box-shadow: none;
    border: 0;
    margin: 15px 15px;
    border-radius: 8px;    
    display: inline-block;
    transition: 1s;
}
.btn:hover {
    background: rgb(243, 179, 168);
}
.btn:focus {
    background: tomato;
}
#RGBnum {
    width: 50%;
}
input[type='range'] {
    overflow: hidden;
    width: 80px;
    -webkit-appearance: none;
    background-color: white;
  }
  
input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: black;
    margin-top: -1px;
}
  
input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 15px;
    cursor: pointer;
    background: white;
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow: -40px 0 0 40px gray;
}